In [49]:
# Python basic to advance code (complete)

In [50]:
# BASICS

In [ ]:
# Comments 
# comments are the lines which python does does not read and execute it

In [51]:
# Variables (variables are the containers where we can store some values)
a  = 5  # 'a' is a variable where we stored the value 5
var_1 = 10  # 'var_1' is a variable where we stored the value 10 

# calling or printing the variables
print(a)
print(var_1)

5
10

In [63]:
# Data types
# integer, float, string and boolean are the data types in python
a = 5   # '5' is an integer 
type(a)
b = 'Python is the best language' #"Python is the best language" is the string because it involves characters or text and are written in '' or ""
type(b)
c = 5.678    # '5.678'  it's a decimal number, so in python the data type is float
type(c)
d = (3 == 3)

In [ ]:
b = 'Python is the best language' #"Python is the best language" is the string because it involves characters or text and are written in '' or ""
type(b)

In [ ]:
c = 5.678    # '5.678'  it's a decimal number, so in python the data type is float
type(c)

In [64]:
d = (3 == 3)  # boolean type gives the result in TRUE or FALSE
type(d)

bool

In [65]:
x = 3j  # '3j' is a complex number involving real and imainary part
type(x)

complex

In [75]:
# Input casting  (taking input from the user)

In [72]:
age  = input("enter your age: ")

enter your age:  23

In [73]:
Name = input("enter your name: ")

enter your name:  syeda zainab fatima

In [74]:
Qualification = input("what is your qualification? ")

what is your qualification?  masters

In [ ]:
# Assignment operators

In [71]:
10 + 3 # addition

13

In [14]:
10 - 3 # subtraction

7

In [15]:
10 * 3 # multiplication

30

In [16]:
10 / 3 # division(quotient with decimal)

3.3333333333333335

In [12]:
10 // 3 # division(quotient without decimal)

3

In [10]:
10 % 3 # remainder

1

In [17]:
10 ^ 3 # raised to the power

9

In [20]:
# Assignment operators

In [22]:
a = 5  # assigning a value 
print(a)

5

In [23]:
b = 15 // 3
print(b)

5

In [24]:
x = 24 % 4
print(x)

0

In [25]:
# Comparsion operators

In [27]:
3 == 3 # '==' shows the equality

True

In [28]:
3 != 3 # '!=' shows the inequality

False

In [29]:
4 > 3 # '>' shows greater than

True

In [30]:
4 >= 3 # '>=' shows greater than or equal to

True

In [31]:
4 <= 3 # '<=' shows less than or equal to

False

In [32]:
4 < 3 # '<" shows less than

False

In [33]:
# Logical operators

In [34]:
(3 == 3) and (3 > 3) # 'and' condition shows that the both conditions should be true

False

In [35]:
(4 > 3) and (4 >= 3) # both conditions are true

True

In [42]:
(4 > 3) and (4 != 3)

True

In [41]:
(4 < 3) and (4 == 3)

False

In [39]:
(15 > 20) or (15 == 15) # 'or' condition shows that minimun one condition should be true

True

In [40]:
(15 > 20) or (15 != 15)

False

In [43]:
(15 < 20) or (15 != 15)

True

In [44]:
(15 < 20) or (15 == 15)

True

In [45]:
not(15<20) # 'not' condition reverse the given condition

False

In [46]:
not(15 == 15)

False

In [47]:
not(15>20)

True

In [48]:
not(4<3)

True

In [76]:
# Type conversions

In [81]:
a = "23"
b = int(a)  # conversion of string to integer
print(b)
type(b)

23

int

In [83]:
height = 173
age_float = float(height) # conversion of integer to float
print(age_float)
type(age_float)

173.0

float

In [84]:
age  = 23
age_char = str(23)  # conversion of integer to string
print(age_char)
type(age_char)

23

str

In [86]:
# Boolean conversions
# 1. Numbers       
print(bool(0))    # False (zero is False)
print(bool(1))    # True (any other number is True)

# 2. Strings
print(bool(""))   # False (empty string is False)
print(bool("a"))  # True (non-empty string is True)

# 3. Lists
print(bool([]))   # False (empty list is False)
print(bool([1]))  # True (non-empty list is True)

# 4. Special case
print(bool(None)) # False (None is always False)

False
True
False
True
False
True
False

In [91]:
# Conditions (if-else, elif statements) (if-else,elif statements are the statements where specific conditions are applied)
age = 18
if age >= 18:
    print("He/She is elligible for driving liscence")
else:
    print("He/She is not elligible")

He/She is elligible for driving liscence

In [112]:
x = 10 % 2
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

x is less than 5

In [104]:
Marks = 90
if Marks >= 85:
    print("Student will get an A grade")
elif Marks >= 80:
    print("Student will get A- grade")
elif Marks >=75:
    print("Student will get B+ grade")
elif Marks >=70:
    print("Student will get B grade")
elif Marks >= 65:
    print("Student will get B- grade")
elif Marks >= 60:
    print("Student will get C+ grade")
elif Marks >= 55:
    print("Student will get C grade")
elif Marks >= 50:
    print("Student will get C- grade")
elif Marks >= 45:
    print("Student will get D grade")
elif Marks >= 40:
    print("Student will get E grade")
else:
    print("Student will get an F")

Student will get an A grade

In [116]:
# Loops
# For loop
for i in range(1,11):   # printing number 1 to 10
    print(i)

1
2
3
4
5
6
7
8
9
10

In [117]:
for i in range(5,20):  # printing numbers 5 to 19
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [119]:
# loop through a list of fruits
fruits = ["mango" , "bananas", "apples" , "orange","pineapples"]
for fruit in fruits:
    print(fruit)

mango
bananas
apples
orange
pineapples

In [120]:
# While loop
count = 1    # Count from 1 to 5
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [1]:
count = 10    # Count from 1 to 5
while count <= 15:
    print(count)
    count += 1

10
11
12
13
14
15

In [38]:
# lists (lists are mutable - can change)
fruits = ["mango", "orange", "apple"]  # creating a list
print(fruits)

# adding an item to a list
fruits.append("banana")
print(fruits)

# removing an item from a list
fruits.remove("mango")
print(fruits)

# Access by index
print(fruits[0])
print(fruits[2])

['mango', 'orange', 'apple']
['mango', 'orange', 'apple', 'banana']
['orange', 'apple', 'banana']
orange
banana

In [47]:
x = [1, 3, 2 ,5,7,4]
print(x)
sorted(x)

[1, 3, 2, 5, 7, 4]

[1, 2, 3, 4, 5, 7]

In [3]:
# tuples (tuples are immutable - cannot change)
colours = ("red", "green","blue","yellow","pink","white")    # create a tuple
print(colours)

# access by index
print(colours[0])
print(colours[3])

# loop through tuple
for colour in colours:
    print(colours)
for i in colours:
    print(i)

('red', 'green', 'blue', 'yellow', 'pink', 'white')
red
yellow
('red', 'green', 'blue', 'yellow', 'pink', 'white')
('red', 'green', 'blue', 'yellow', 'pink', 'white')
('red', 'green', 'blue', 'yellow', 'pink', 'white')
('red', 'green', 'blue', 'yellow', 'pink', 'white')
('red', 'green', 'blue', 'yellow', 'pink', 'white')
('red', 'green', 'blue', 'yellow', 'pink', 'white')
red
green
blue
yellow
pink
white

In [4]:
# dictionaries
student = {"name" : "Saira" , "age" : 23 , "grade" : "A"}
print(student)

# access the dictionary
print(student["name"])

# Add/Update a key-value pair
student["age"] = 21  
student["city"] = "New York"  

# Remove a key
del student["grade"] 

print(student)

{'name': 'Saira', 'age': 23, 'grade': 'A'}
Saira
{'name': 'Saira', 'age': 21, 'city': 'New York'}

In [8]:
# sets
unique_numbers = {1, 2, 3, 3, 4}  # Create a set

# Add an item
unique_numbers.add(5)  

# Remove an item
unique_numbers.discard(2)  

# Check membership
print(4 in unique_numbers)
print(unique_numbers)

True
{1, 3, 4, 5}

In [6]:
# functions      
def fun(): # defining the function
    print("Welcome to GFG")   
fun()    # call a function

Welcome to GFG

In [7]:
def greet():
    print("Hello!")
greet()

Hello!

In [9]:
greet() # I called the defined function, i did'nt have to rewrite the whole code
fun()

Hello!
Welcome to GFG

In [21]:
# Functions with (input) parameters
def greet(name):  # 'name' is a parameter
    print( "Hello" ,name)
greet("Alice!")  # "Alice is an argument

Hello Alice!

In [26]:
# Function with return value
def add_val(a ,b):
    return(a+b)  # returns the value
result = add_val(23,6)
print(result)

29

In [30]:
add_val(23,6) # calling the function

29

In [35]:
def sqre_area(Side):
    return(Side * Side)
print(sqre_area(4))

16